@import 'reset';
@import url('https://fonts.googleapis.com/css?family=Amaranth|Montaga&display=swap');

//FONTS
html{
  font-family: Montaga, Times, serif;
}
h1,h2{
  font-family: amarante, Helvetica, sans-serif;
}
h1{
  font-weight: bold;
  color: white;
}
h2{
  font-weight: bold;
  color: #BA7936;
}
p{
  line-height: 1.3;
}
input:not(.attribute){
  padding: 0 .5rem;
  text-align: center;
}
.viewGame{
  height: 100vh;
  width: 100vW;
  overflow: hidden;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center center !important;

}
.sound{
  width: 34px;
  height: 34px;
  fill: #fff;
  position:absolute;
  right: 10px;
  bottom: 10px;
}

.button{
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background-color: #49332F;
  margin: 10% auto;
  padding: 1rem 2rem;
  color: white;
  font-size: 1.3rem;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.button:hover{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.icon{
  cursor: pointer; 
}
  
.pane-leave-active,
.pane-enter-active {
  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateX(100vw);
    background: black;
    z-index: 100;
  }
}

.pane-leave-active {
  animation: fake 1s;

  &::after {
    animation: slideLeave 1s;
  }
}

.pane-enter-active {
  animation: fake 2s;

  &::after {
    animation: slideEnter 1s ease 1s;
  }
}

@keyframes slideLeave {
  to {
    transform: translateX(0);
  }
}

@keyframes slideEnter {
  from {
    transform: translate(0);
  }
  to {
    transform: translateX(-100vw);
  }
}