@import 'reset';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

$hetic-green: #0de595;

body,
button,
input,
select,
textarea {
  font-family: 'Roboto';
}

.big-header {
  background-color: $hetic-green;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;

  color: white;
}

.button {
  color: $hetic-green;
  text-decoration: none;
  background: white;
  padding: 5px;
  border-radius: 5px;
  display: inline-block;
  border: none;
}
